@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
}
.titl{
    width: 300px;
    height: 50px;
    background-color:#25252A;
    color:whitesmoke;
    display: inline-block;
    border-radius: 20px;
    font-size:25px;
    box-shadow:inset 0 0 0 0 rgb(255, 0, 68);
    transition:ease-in-out 100;
    outline:none;
    border:none;
    
}
.titl:hover{
    box-shadow: inset 0 300px 0 0 #25253A;
    transition:ease-in-out 100;
    border-style: dashed;
    border-color: white;
}
body{
    background-color: #25252A;
}
a{
    color:whitesmoke;
    outline:none;
    width: 300px;
    text-decoration: none;
}